<ion-header>
  <ion-toolbar>
    <ion-buttons class="menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding text-center">
      <!-- <img class="img" src="../../../assets/saap-icon.gif" alt="Logo"> -->
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large">
        <ion-icon class="ion-no-margin" name=""></ion-icon>
      </ion-button>
      <ion-button size="large">
        <ion-icon class="light" name="notifications-outline"></ion-icon>
        <ion-badge>1</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>