ion-badge {
    position: absolute;
    top: 0px;
    right: -4px;
    font-size: 0.6em;
    --color: white;
    --padding-start: 5px;
    --padding-end: 5px;
}

.img {
    width: 147px;
    height: 40px;
    color: lightblue;
}