<ion-header>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
    <ion-button routerLink="/pages/notifications" fill="clear" slot="end">
      <ion-icon class="pc-ivc" name="notifications"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div>
    <form [formGroup]="serviceForm">

      <ion-item>
        <ion-label position="floating">Origin</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="origin" name="origin" required></ion-input> -->
        <input type="text" formControlName="origin" [(ngModel)]="origin" #inputfield />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destination</ion-label>
        <ion-input type="text" formControlName="destination" [(ngModel)]="destination" name="destination" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Number of Passengers</ion-label>
        <ion-input type="number" formControlName="passengers" [(ngModel)]="passengers" name="passengers" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Car Type</ion-label>
        <ion-input type="text" formControlName="carType" [(ngModel)]="carType" name="carType" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Calculate Route</ion-button>
    </form>
  </div>
  <div class="padre">
    <div id="map" class="full" style="width: 100%; height: 200px;"></div>
  </div>


</ion-content>